*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#topnav ul{
    position: relative;
    text-align: right;
    padding: 15px 25px;
}

#topnav li{
    display: inline;
    margin: 0 5px;
}

#topnav a{
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.googleapps img{
    position: relative;
    top: 8px;
    margin-left: 10px;
    margin-right: 5px;
}

#topnav .signin{
    border: 1px solid #4285f4;
    background-color: #4285f4;
    padding: 6px 8px;
    border-radius: 2px;
}

#topnav li.signin a{
    padding: 6px 5px;
    color: white;
    font-size: 13px;
    font-weight: 600;
    margin: 2px 0;
}

main{
    text-align: center;
    margin-top: 140px;
}

main .googlelogo{
    width: 272px;
    height: 92px;
}

.searchbar{
    width: 554px;
    height: 39px;
    border: 1px solid #DCDCDC;
    margin: 28px auto;
    border-radius: 24px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 8px;
}

.searchbar .search{
    width: 514px;
    height: 34px;
    border: none;
    outline: none;
    font-size: 16px;
}

.searchbar li{
    display: inline-block;
}

.searchbar img{
    position: relative;
    width: 24px;
    top: 5px;
}

.searchbar:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

#middlebuttons{
    margin-top: 35px;
}

#middlebuttons li{
    display: inline-block;
    margin: 5px 5px;
}

#middlebuttons a{
    text-decoration: none;
    color: #5F6368;
    border: 1px solid #f2f2f2;
    padding: 10px 15px;
    background-color: #F0F0F0;
    border-radius: 5px;
}

#middlebuttons a:hover{
    border: 1px solid #c6c6c6;
}

footer{
    background: #F0F0F0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#sectiontop{
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
}

#sectiontop p{
    margin-left: 25px;
    padding: 12px;
    color: #5f6368;
}

#bottomnav{
    margin-left: 23px;
}

#bottomnav li{
    display: inline-block;
    padding: 12px 11px;
}

#bottomnav a{
    text-decoration: none;
    color: #5f6368;
    font-size: 13px;
}

#bottomnav .rightnavs{
    position: absolute;
    right: 0;
    margin-right: 25px;
}

#topnav a:hover{
    text-decoration: underline;
 }

 #topnav .signin a:hover{
     text-decoration: none;
 }
 
 #bottomnav a:hover{
     text-decoration: underline;
 }